  body {
    min-width: 520px;
    padding-top: 20px;
  }
   h3 {
    text-align: center;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0.1em;
  }
  .column {
    width: 200px;
    height: 95%;
    padding-bottom: 100%;
    float: left;
    margin-right:10px;
    background-color: #EFEFEF;
  }
  .portlet {
    margin: 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    display: none;
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 0.1em 0.1em 0;
    height: 50px;
  }
  .newport {
    text-align: center;
    cursor: pointer;
  }
  hr {
  background-color: #fff;
  height: 10px;
  border: 0;
  margin-top: 3px;
  }
  .ui-menu { 
    overflow: hidden;
}
.ui-menu .ui-menu {
    overflow: visible !important;
}
.ui-menu > li { 
    float: left;
    display: block;
    width: auto !important;
}
.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu > li {
    margin: 5px 5px !important;
    padding: 0 0 !important;
}
.ui-menu > li > a { 
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}
.ui-menu .ui-menu-icon { 
    margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li { 
    float: left;
    display: block;
}
